.nav {
    width:100%;
    float: right;
}

.nav ul {
    list-style: none;
    width:100%;
}
.nav ul li{
    width:220px;
    float:left;
    font-size: 18pt;
    background:rgb(2, 66, 46);
    color:#fff;
    margin: auto;
    padding:5px;
    transition:2s;
}

.nav ul li:hover{
    background: darkblue;
    color:#fff;
}

.contLogo{
    width:100px;
    height:20px;
    margin: auto;
}

.logo {
    display:block;
    width:40%;
    height:auto;
    float:left;
    margin:10px;
    padding:3px;
    margin:auto;
}