.tabperfil{
    width:20%;
    margin:auto;
    margin-top:140px;
}
.perfil {
    display:block;
    margin:auto;
    width:100px;
    height:10em;
    float:left;
    margin:10px;
    padding:3px;
}
.titulo {
    float:right;
    text-align: center;
    font-size: 28pt;
    vertical-align: middle;
    margin-top:25px;
    color:#fff;
}
.fondo {
    background-image: url('../images/gato1.jpg');
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: 500px 500px; 
}